ALLOW_INCOMING_MESSAGE=
API_KEY=
COMPANY_NAME=
DB_HOST=
DB_NAME=
DB_PASS=
DB_PORT=
DB_USER=
HARDWARE_BINDING_ENABLED=
MESSAGE_APPROVAL_URL=
MESSAGE_INTEGRATION_KEY=
NGROK_AUTHTOKEN=
NGROK_DOMAIN=
OPENWA_BASE_URL=
OPENWA_WEBHOOK_SECRET=
check_days=